
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.homepage {
    text-align: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homepage img {
    margin-top: 20px;
    width: 300px;
    height: 100px;
}

.header {
    margin-bottom: 20px;
}

.content {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;


}

