.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}

a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bolder;
    background: linear-gradient(to right, #267056, black);
    margin-right: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

a:hover{
    color: rgb(211, 217, 222);
}

.navbar-container {
    width: 97%;
    height: 75px;
    background: linear-gradient(to right, rgb(105, 105, 105), #fefefd);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-menu a {
    margin-left: 20px;
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #267056;
}

.navbar img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
/* this line is easy to understand  */

    .navbar-menu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu a {
        margin: 10px 0;
    }
}
